.home-container {
  h1 {
    text-align: center;
    font-size: 2rem;
  }

  article {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 120px 0;
  }

  figcaption {
    height: 113px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  figure {
    transition: transform 0.4s ease;
    will-change: transform;
  }

  figure:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
}

.home-container figcaption {
  @media screen and (max-width: 768px) {
    width: 300px;
  }
}
