.home-container {
  h1 {
    text-align: center;
  }

  article {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 120px 0;
  }

  figcaption {
    height: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
