.add-cover-container {
  text-align: center;
  form {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  input,
  label {
    width: 400px;
    font-size: 1.1rem;
  }

  input {
    border: none;
    border-radius: 4px;
  }

  label {
    margin-top: 16px;
    margin-bottom: 4px;
  }

  button {
    width: 25%;
    margin: 8px 0 0 auto;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
  }
}

.add-cover-container {
  @media screen and (max-width: 768px) {
    input,
    label {
      width: 300px;
    }
  }
}
