.detail-page-container {
  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 64px;
  }

  h1 {
    text-align: center;
  }
  article:first-of-type img,
  figcaption {
    width: 415px;
  }

  article form {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  input,
  label {
    width: 400px;
    font-size: 1.1rem;
  }

  input {
    border: none;
    border-radius: 4px;
    margin-bottom: 16px;
  }

  label {
    border: none;
    border-radius: 4px;
    margin-bottom: 4px;
  }
  div {
    display: flex;
    justify-content: space-between;
  }

  button {
    margin-top: 8px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
  }
}

.detail-page-container {
  @media screen and (max-width: 768px) {
    section {
      flex-direction: column;
    }

    h1 {
      width: 300px;
      margin: auto;
    }

    article:first-of-type img,
    figcaption {
      width: 300px;
    }

    article {
      margin-bottom: 48px;
    }

    article form,
    input {
      width: 300px;
    }
  }
}
